.app_center {
  text-align: center;
  margin: 2rem auto;

  & .app_description {
    margin: 5px 0 10px 0;
    color: $secondary-clr;
  }

  & .app_input,
  & .app_btn {
    padding: 5px 10px;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid $secondary-clr;
  }

  & .app_btn {
    background-color: $accent-clr;
    margin-left: 5px;
    color: $primary-clr;
  }

  & .app_input {
    color: $primary-clr;
  }
}

.grid {
  display: grid;

  & .sorry {
    margin-top: 2rem;
  }
}

@include media-md {
  .app_center {
    margin: 1rem;
  }
}
